/* Set the background color of the entire page to black */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
 
  background-color: black; /* Ensures the entire page has a black background */
  color: white; /* Ensures text color is white for readability */
}

h1, h2 {
  font-family: "Pacifico", cursive;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.main-container {
  padding-bottom: 10px;
}

.alert-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.alert {
  width: 100%;
}

.todo-list-container {
  display: grid;
  margin-top: 10px;
  max-height: 350px;
  place-items: center; /* Centers both horizontally and vertically */
  overflow: auto;
}

input { 
  color: rgb(225, 221, 221);
}

.input-container {
  margin-top:10px;
  background-color: rgba(45, 37, 37, 0.424);
}

button {
  color: rgb(255, 243, 243);
  width: 230px;
}

.buttons {
  color: rgb(255, 243, 243);
  width: 90px;
  margin-top:5px;
  margin-left: 20px;
  margin-right: 20px;
}

.todo-list {
  background-color: rgb(249, 142, 233);
  width: 60%;
  padding-right: 40px;
  border-radius: 5%;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 500px; /* Adjust the max-height as per your design requirements */
  object-fit: cover;
}

.todoProgress-container {
  display: grid;
  margin-top: 10px;
  padding-bottom: 20px;
  max-height: 350px;
  place-items: center; /* Centers both horizontally and vertically */
}

.todoProgress {
  width: 100%;
  font-family: 'Indie Flower', cursive;
}

.todolist-container {
  display: flex;
  padding-top: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  background-color: pink;
  border-radius: 50px;
}

ul {
  list-style-type: none;
  font-family: 'Indie Flower', cursive;
}

.buttons {
  margin-left: 20px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Media sizing */
@media (max-width: 600px) {
  button {
    color: rgb(255, 243, 243);
    width: 50%;
  }

  .todo-list {
    background-color: rgb(249, 142, 233);
    width: 70%;
    padding-right: 40px;
    border-radius: 5%;
  }

  .todoProgress {
    width: 100%;
  }

  .carousel-image {
    max-height: 300px; /* Adjust the max-height for mobile devices */
  }
}
